# Framework must-haves
numpy==1.17.4
imutils==0.5.3
filetype==1.0.7
Pillow==6.2.2
packaging==20.4
torch>=1.1.0
opencv-python
albumentations==0.4.6
pretrainedmodels==0.7.4

# Used in scripts
scikit-learn==0.23.1
torchvision==0.5.0
scikit-image==0.17.2
opencv-contrib-python==4.3.0.36

# Tests
requests==2.22.0

